<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

	<script>
		var weixinShare = {
		    appId: 'wx0b6c6683f64d3cc2',
		    title: '原来亳州的那些大户都来这里采购药材......',
		    desc: '药优优——原药材销售平台 优选好药，底价直采！ 质量保障，价格保障，货源保障！',
		    link: 'http://y.sghaoyao.com/html/introduce',
		    imgUrl: "http://y.sghaoyao.com/assets/images/logo3.jpg",
		    timestamp: 1479884131,
		    nonceStr: 'ajqgNBFeWVtJOups',
		    signature: 'd90636a6fff8750fa9914db40a03837c1b91915c'
		}
	</script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="assets/js/weixin_share.js"></script>
</body>
</html>