<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ms.dao.AccountBillDao">
    <resultMap id="AccountBillResultMap" type="com.ms.dao.model.AccountBill">
            <id column="id"  property="id" />
            <result column="code"  property="code" />
            <result column="order_id"  property="orderId" />
            <result column="user_id"  property="userId" />
            <result column="bill_time"  property="billTime" />
            <result column="amounts_payable"  property="amountsPayable" />
            <result column="already_payable"  property="alreadyPayable" />
            <result column="status"  property="status" />
            <result column="repay_time"  property="repayTime" />
            <result column="member_id"  property="memberId" />
            <result column="create_date"  property="createDate" />
        
    </resultMap>

    <resultMap id="AccountBillResultMapVo" type="com.ms.dao.vo.AccountBillVo">
            <id column="id"  property="id" />
            <result column="code"  property="code" />
            <result column="order_id"  property="orderId" />
            <result column="order_code"  property="orderCode" />
            <result column="nickname"  property="nickname" />
            <result column="user_type"  property="userType" />
            <result column="name"  property="name" />
            <result column="member_name"  property="operateName" />
            <result column="user_id"  property="userId" />
            <result column="bill_time"  property="billTime" />
            <result column="amounts_payable"  property="amountsPayable" />
            <result column="already_payable"  property="alreadyPayable" />
            <result column="status"  property="status" />
            <result column="repay_time"  property="repayTime" />
            <result column="member_id"  property="memberId" />
            <result column="create_date"  property="createDate" />
        
    </resultMap>

    <sql id="Base_Column_List">
        id,code,order_id,user_id,bill_time,amounts_payable,already_payable,status,repay_time,member_id,create_date
    </sql>

    <sql id="Left_Join_List">
        ab.id as id,ab.code as code,ab.order_id as order_id,ab.user_id as user_id ,ab.bill_time as bill_time,ab.amounts_payable as amounts_payable,ab.already_payable as already_payable ,
        ab.status as status ,ab.repay_time as repay_time,ab.member_id as member_id,ab.create_date as create_date,p.code as orderCode,
        ud.nickname as nickname,ud.name as name,ud.type as user_type,m.name as member_name
    </sql>





    <select id="findById" parameterType="java.lang.Integer" resultMap="AccountBillResultMap">
        select
        <include refid="Base_Column_List" />
        from account_bill
        where id = #{id}
    </select>

    <select id="findAll"  resultMap="AccountBillResultMap">
        select
        <include refid="Base_Column_List" />
        from account_bill
    </select>

    <select id="findByParams" resultMap="AccountBillResultMapVo" parameterType="com.ms.dao.vo.AccountBillVo">
        select
        <include refid="Left_Join_List" />
        from account_bill ab
        LEFT JOIN user_detail ud on ud.user_id=ab.user_id
        LEFT JOIN pick p on p.id=ab.order_id
        LEFT JOIN member m on m.id=ab.member_id
        <where>
            <if test="id != null">
                ab.id = #{id}
            </if>
            <if test="nickname != null">
                and ud.nickname like CONCAT('%','${nickname}','%' )
            </if>
            <if test="orderCode != null">
                and p.code like CONCAT('%','${orderCode}','%' )
            </if>
            <if test="status != null">
                and ab.status=#{status}
            </if>

        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from account_bill
        where id = #{id}
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.ms.dao.model.AccountBill">
        insert into
        account_bill (code,order_id,user_id,bill_time,amounts_payable,already_payable,status,repay_time,member_id,create_date)
        values
        (#{code},#{orderId},#{userId},#{billTime},#{amountsPayable},#{alreadyPayable},#{status},#{repayTime},#{memberId},#{createDate})
    </insert>

    <update id="update" parameterType="com.ms.dao.model.AccountBill">
        update account_bill
        <set>
                                                        
            <if test="code != null">
                code = #{code},
            </if>
                                            
            <if test="orderId != null">
                order_id = #{orderId},
            </if>
                                            
            <if test="userId != null">
                user_id = #{userId},
            </if>
                                            
            <if test="billTime != null">
                bill_time = #{billTime},
            </if>
                                            
            <if test="amountsPayable != null">
                amounts_payable = #{amountsPayable},
            </if>
                                            
            <if test="alreadyPayable != null">
                already_payable = #{alreadyPayable},
            </if>
                                            
            <if test="status != null">
                status = #{status},
            </if>
                                            
            <if test="repayTime != null">
                repay_time = #{repayTime},
            </if>
                                            
            <if test="memberId != null">
                member_id = #{memberId},
            </if>
                                            
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
                            
        </set>
        where id = #{id}
    </update>

    <select id="findVoById" parameterType="java.lang.Integer" resultMap="AccountBillResultMapVo">
        select
        <include refid="Left_Join_List" />
        from account_bill ab
        LEFT JOIN user_detail ud on ud.user_id=ab.user_id
        LEFT JOIN pick p on p.id=ab.order_id
        LEFT JOIN member m on m.id=ab.member_id
        where ab.id = #{id}
    </select>

    <select id="findVoByOrderId" parameterType="java.lang.Integer" resultMap="AccountBillResultMapVo">
        select
        <include refid="Left_Join_List" />
        from account_bill ab
        LEFT JOIN user_detail ud on ud.user_id=ab.user_id
        LEFT JOIN pick p on p.id=ab.order_id
        LEFT JOIN member m on m.id=ab.member_id
        where ab.order_id = #{orderId}
    </select>



</mapper>