<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ms.dao.PayDocumentDao">
    <resultMap id="PayDocumentResultMap" type="com.ms.dao.model.PayDocument">
            <id column="id"  property="id" />
            <result column="pay_record_id"  property="payRecordId" />
            <result column="path"  property="path" />
            <result column="create_date"  property="createDate" />
        
    </resultMap>

    <resultMap id="PayDocumentResultMapVo" type="com.ms.dao.vo.PayDocumentVo">
            <id column="id"  property="id" />
            <result column="pay_record_id"  property="payRecordId" />
            <result column="path"  property="path" />
            <result column="create_date"  property="createDate" />
        
    </resultMap>

    <sql id="Base_Column_List">
        id,pay_record_id,path,create_date
    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="PayDocumentResultMap">
        select
        <include refid="Base_Column_List" />
        from pay_document
        where id = #{id}
    </select>

    <select id="findAll"  resultMap="PayDocumentResultMap">
        select
        <include refid="Base_Column_List" />
        from pay_document
    </select>

    <select id="findByParams" resultMap="PayDocumentResultMapVo" parameterType="com.ms.dao.vo.PayDocumentVo">
        select
        <include refid="Base_Column_List" />
        from pay_document
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="payRecordId!= null">
                and pay_record_id = #{payRecordId}
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from pay_document
        where id = #{id}
    </delete>

    <delete id="deleteByRecordId" parameterType="java.lang.Integer">
        delete from pay_document
        where pay_record_id = #{recordId}
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.ms.dao.model.PayDocument">
        insert into
        pay_document (pay_record_id,path,create_date)
        values
        (#{payRecordId},#{path},#{createDate})
    </insert>

    <update id="update" parameterType="com.ms.dao.model.PayDocument">
        update pay_document
        <set>
                                                        
            <if test="payRecordId != null">
                pay_record_id = #{payRecordId},
            </if>
                                            
            <if test="path != null">
                path = #{path},
            </if>
                                            
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
                            
        </set>
        where id = #{id}
    </update>
</mapper>