body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1003px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:716px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u200 {
  position:absolute;
  left:61px;
  top:10px;
  width:400px;
  height:716px;
}
#u201 {
  position:absolute;
  left:2px;
  top:350px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:-webkit-linear-gradient(90deg, rgba(57, 105, 165, 1) 0%, rgba(57, 105, 165, 1) 0%, rgba(90, 150, 198, 1) 100%, rgba(90, 150, 198, 1) 100%);
  background:-moz-linear-gradient(0deg, rgba(57, 105, 165, 1) 0%, rgba(57, 105, 165, 1) 0%, rgba(90, 150, 198, 1) 100%, rgba(90, 150, 198, 1) 100%);
  background:linear-gradient(0deg, rgba(57, 105, 165, 1) 0%, rgba(57, 105, 165, 1) 0%, rgba(90, 150, 198, 1) 100%, rgba(90, 150, 198, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u202 {
  position:absolute;
  left:61px;
  top:10px;
  width:400px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u203 {
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u204 {
  position:absolute;
  left:61px;
  top:15px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u205 {
  position:absolute;
  left:10px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u206 {
  position:absolute;
  left:65px;
  top:20px;
  width:25px;
  height:20px;
  font-family:'Arial Black Black', 'Arial Black';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:40px;
}
#u208 {
  position:absolute;
  left:61px;
  top:686px;
  width:74px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u208_img.selected {
}
#u208.selected {
}
#u209 {
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
}
#u210 {
  position:absolute;
  left:133px;
  top:686px;
  width:84px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u210_img.selected {
}
#u210.selected {
}
#u211 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
}
#u212 {
  position:absolute;
  left:289px;
  top:686px;
  width:94px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u212_img.selected {
}
#u212.selected {
}
#u213 {
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u214 {
  position:absolute;
  left:380px;
  top:686px;
  width:81px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u214_img.selected {
}
#u214.selected {
}
#u215 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:40px;
}
#u216 {
  position:absolute;
  left:215px;
  top:686px;
  width:74px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u216_img.selected {
}
#u216.selected {
}
#u217 {
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u218_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:31px;
  height:31px;
}
#u218 {
  position:absolute;
  left:364px;
  top:681px;
  width:21px;
  height:21px;
}
#u219 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:31px;
  height:31px;
}
#u220 {
  position:absolute;
  left:442px;
  top:681px;
  width:21px;
  height:21px;
}
#u221 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:171px;
}
#u222 {
  position:absolute;
  left:61px;
  top:50px;
  width:400px;
  height:170px;
}
#u223 {
  position:absolute;
  left:2px;
  top:77px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:62px;
}
#u224 {
  position:absolute;
  left:221px;
  top:77px;
  width:80px;
  height:62px;
}
#u225 {
  position:absolute;
  left:2px;
  top:23px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u226 {
  position:absolute;
  left:253px;
  top:147px;
  width:20px;
  height:16px;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:96px;
}
#u228 {
  position:absolute;
  left:69px;
  top:230px;
  width:113px;
  height:95px;
}
#u229 {
  position:absolute;
  left:2px;
  top:40px;
  width:109px;
  word-wrap:break-word;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:96px;
}
#u230 {
  position:absolute;
  left:191px;
  top:230px;
  width:113px;
  height:95px;
}
#u231 {
  position:absolute;
  left:2px;
  top:40px;
  width:109px;
  word-wrap:break-word;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:96px;
}
#u232 {
  position:absolute;
  left:328px;
  top:230px;
  width:113px;
  height:95px;
}
#u233 {
  position:absolute;
  left:2px;
  top:40px;
  width:109px;
  word-wrap:break-word;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:96px;
}
#u234 {
  position:absolute;
  left:69px;
  top:343px;
  width:113px;
  height:95px;
}
#u235 {
  position:absolute;
  left:2px;
  top:40px;
  width:109px;
  word-wrap:break-word;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u236 {
  position:absolute;
  left:174px;
  top:334px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u237 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:96px;
}
#u238 {
  position:absolute;
  left:194px;
  top:343px;
  width:113px;
  height:95px;
}
#u239 {
  position:absolute;
  left:2px;
  top:40px;
  width:109px;
  word-wrap:break-word;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:96px;
}
#u240 {
  position:absolute;
  left:332px;
  top:343px;
  width:113px;
  height:95px;
}
#u241 {
  position:absolute;
  left:2px;
  top:40px;
  width:109px;
  word-wrap:break-word;
}
#u242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u242 {
  position:absolute;
  left:501px;
  top:25px;
  width:37px;
  height:22px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3399;
  line-height:18px;
}
#u244 {
  position:absolute;
  left:503px;
  top:65px;
  width:500px;
  height:54px;
  color:#FF3399;
  line-height:18px;
}
#u245 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 51, 153, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u246 {
  position:absolute;
  left:483px;
  top:27px;
  width:5px;
  height:94px;
}
#u247 {
  position:absolute;
  left:2px;
  top:39px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
